<!DOCTYPE html>
<html lang="en"
>
<head>
    <title>进货单管理</title>
    <link rel="stylesheet" href="/resources/layui/css/layui.css">
    <script type="text/javascript" src="/resources/layui/layui.js"></script>
</head>

<body>

<!--查询开始-->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>查询条件</legend>
</fieldset>
<form class="layui-form" id="searchFrm">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">供应商选择:</label>
            <div class="layui-input-inline">
                <select name="providerid" id="providerName" ></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">商品名称:</label>
            <div class="layui-input-inline">
                <input type="text" name="goodsname" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">开始时间:</label>
            <div class="layui-input-inline">
                <input type="text" name="startTime" id="startTime" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">结束时间:</label>
            <div class="layui-input-inline">
                <input type="text" name="endTime" id="endTime" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item" style="text-align: center;">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="doSearch">查询</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<!--查询结束-->


<!--设置加载数据的容器开始-->
<table class="layui-hide" id="inportGrid" lay-filter="inportGrid"></table>

<!--头部的工具栏-->
<script type="text/html" id="topBar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-warm layui-btn-sm" lay-event="add">添加</button>
    </div>
</script>

<!--行内工具-->
<script type="text/html" id="rightBar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
</script>

<!--设置加载数据的容器结束-->

<!-- 添加修改开始 -->
<div id="addAndUpdateInport" style="display: none;">
    <form class="layui-form" id="dataFrm" lay-filter="dataFrm" style="margin: 10px">
        <input type="hidden" name="id">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">选择供应商:</label>
                <div class="layui-input-inline">
                    <select name="providerid" lay-verify="required" id="providerid" lay-filter="clickProvoder" style="width: 350px">
                    </select>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">商品名称:</label>
                    <div class="layui-input-inline">
                        <select name="goodsid" lay-verify="required" id="goodsid" style="width: 350px">
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">进货数量:</label>
                <div class="layui-input-inline">
                    <input type="text" name="number" lay-verify="required" autocomplete="off" class="layui-input" style="width: 350px">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">进货价格:</label>
                <div class="layui-input-inline">
                    <input type="text" name="inportprice" lay-verify="required" autocomplete="off" class="layui-input" style="width: 350px">
                </div>
            </div>
        </div>
        <div class="layui-form-item">

                <label class="layui-form-label">支持类型:</label>
                <div class="layui-input-block">
                    <input type="radio" name="paytype" value="微信" title="微信" >
                    <input type="radio" name="paytype" value="支付宝" title="支付宝">
                    <input type="radio" name="paytype" value="银联" title="银联">
                </div>

        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">进货备注:</label>
                <div class="layui-input-inline">
                    <input type="text" name="remark" autocomplete="off" class="layui-input" style="width: 350px">
                </div>
            </div>
        </div>


        <div class="layui-form-item" style="text-align: center;">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSubmit">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<!-- 添加修改结束-->





<script>

    layui.use(['upload','element', 'form', 'table', 'jquery', 'layer','tree','laydate'], function () {

        var form = layui.form;
        var table = layui.table;
        var $ = layui.jquery;
        var layer = layui.layer;
        var laydate = layui.laydate;

        laydate.render({
            elem:"#startTime",
            type:"datetime"
        });
        laydate.render({
            elem:"#endTime",
            type:"datetime"
        });



        //获取菜单树的内容
        $.post("/goods/loadGoodsManagerLeftTreeJson",{available:1},function (result) {
            var html = "<option>请选择供应商</option>";
            $.each(result,function (index, obj) {
                html+="<option value='"+obj.id+"'>"+obj.name+"</option>";
            });
            //初始还查询下拉框
            $("#providerid").html(html);
            //初始化添加表单下拉框
            $("#providerName").html(html);

            form.render("select");
        });

        //监听下拉框事件
        form.on('select(clickProvoder)', function(data){
           // console.log(data.elem); //得到select原始DOM对象
           // console.log(data.value); //得到被选中的值
           // console.log(data.othis); //得到美化后的DOM对象

            //根据选中的值异步加载该供应商下的所有商品
            var html = "";
            $.post('/goods/loadAllGoodsByProviderId',{providerid:data.value},function (result) {
               // console.log(result);
                if(result.length==0){
                    html+="<option value=''>该商家下暂无商品,敬请期待！！！</option>";

                }else {
                   $.each(result,function (index, obj) {
                   html+="<option value='"+obj.id+"'>"+obj.goodsname+"["+obj.size+"]"+"</option>";
                    });
                }
                $("#goodsid").html(html);
                form.render("select");
            });
        });




        //加载数据表格
        var tableInit = table.render({
            elem: '#inportGrid'
            , url: '/inport/loadAllInport'
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度
            , height: 'full-180'
            , title: '进货单列表'
            , text:{none:"<font color='red'>查询无数据</font>"}
            , defaultToolbar: ['print', 'filter']
            , cols: [ [
                {type: 'checkbox'}
                , {field: 'id', align: 'center', title: '进货ID'}
                , {field: 'goodsname', align: 'center', title: '商品名称'}
                , {field: 'providername',  align: 'center', title: '供应商名称'}
                , {field: 'size', align: 'center', title: '商品规格'}
                , {field: 'inporttime', width: 200,align: 'center', title: '进货时间'}
                , {field: 'number', align: 'center', title: '进货数据'}
                , {field: 'inportprice', align: 'center', title: '进货价格'}
                , {field: 'paytype', align: 'center', title: '支持类型'}
                , {field: 'operateperson', align: 'center', title: '操作人'}
                , {field: 'remark', align: 'center', title: '进货描述'}
                , {fixed: 'right', align: 'center', title: '操作', toolbar: '#rightBar'}
            ] ]
            , page: true
            , toolbar: '#topBar'

        });

        //查询
        $("#doSearch").click(function () {
            var param = $("#searchFrm").serialize();
            tableInit.reload({url: '/inport/loadAllInport?' + param});
        });

        //监听表头工具栏事件
        table.on('toolbar(inportGrid)', function (obj) {
            switch (obj.event) {
                case 'add':
                    //layer.msg("添加");
                    toAddInport();
                    break;
                case 'batchDelete':
                    layer.msg("批量删除");
                    var checkStatus = table.checkStatus('inportGrid');//test就是<table id="test">
                    layer.msg(JSON.stringify(checkStatus.data));
                    break;
            }
        });

        //监听行内工具栏事件
        table.on('tool(inportGrid)', function (obj) {
            var data = obj.data; //获得当前行数据
            switch (obj.event) {

                case 'delete':
                    layer.confirm('确定删除此进货单？', {icon: 3, title: '提示信息'}, function (index) {
                        $.post("/inport/deleteInport",data, function (data) {
                            layer.msg(data.msg);
                            //删除成功判断当前页是否有数据
                            var htmlStr = $(".layui-laypage-count").html();
                            var count = htmlStr.split(" ")[1];
                            console.log("当前页"+count);
                            if(count==1){
                                //刷新表单
                                tableInit.reload({url:'/inport/loadAllInport'});
                            }else {
                                //刷新表单
                                tableInit.reload();
                            }
                            layer.close(index);
                        });

                    });
                    break;

            }
        });

        var url;//提交的url
        var index;//要关闭的弹出层索引

        //添加进货单
        function toAddInport() {
            url = '/inport/addInport';
            index = layer.open({
                type: 1,
                title: '添加进货单',
                content: $("#addAndUpdateInport"),  //type=1时使用
                skin: 'layui-layer-molv',//设置皮肤
                area: ['700px', '450px'],//设置宽高
                shade: 0.5,//设置遮罩的透明度
                shadeClose: true,//设置点击遮罩是否关闭弹出层
                maxmin: true, //是否显示最大化和最小化的按钮  该参数值对type:1和type:2有效
                success: function () {
                    $("#showimg").attr("src","/file/downloadFile?inportimg="+"defaultimg.png");
                    $("#inportimg").val("defaultimg.png");
                    form.render();

                }
            });
        }

        //修改进货单


        //查看

        //保存
        form.on('submit(doSubmit)', function (obj) {
            $.post(url, obj.field, function (result) {
                layer.msg(result.msg);
                tableInit.reload();
                layer.close(index);
            });
            return false;//阻止同步提交
        });


    });


</script>
</body>
</html>
